.App {
  background: #a3a3a3;
}

.mynavbar-wrapper {
  max-width: 1400px;
  margin-inline: auto;
}

section {
  background: #fafafa;
  max-width: 1400px;
  margin-inline: auto;
  margin-block: 48px;
}

.hero {
  background-image: url('./assets/pexels-karolina-grabowska-5650019.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 66%;
  height: calc(100vh - 56px);
}

.thumb-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.thumb {
  aspect-ratio: 1/1;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  border-radius: 50%;
  background-size: contain;
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.electronics {
  background-image: url('./assets/pexels-esmihel-18311089.png');
}

.jewelery {
  background-image: url('./assets/pexels-zandatsu-29502933.png');
}

.men-clothing {
  background-image: url('./assets/arrangement-different-traveling-elements.png');
}

.women-clothing {
  background-image: url('./assets/pexels-anne-r-168988-4602025.png');
}

.product-card {
  width: 240px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}


.product-card img {
  width: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
  background: #e5e5e5;
}

.best-sellers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.footer-body {
  max-width: 576px;
  margin-inline: auto;
}

.footer-brand-wrapper {
  max-width: 992px;
  margin-inline: auto;
  border-top: 1px solid #0a0a0a;
  padding-block: 40px;
}

.footer-copyright {
  background: #737373;
  color: #fafafa;
  padding-block: 20px;
}

.footer-copyright a {
  color: #fafafa;
}

.sort-select {
  width: 192px;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.filters-aside {
  min-width: 224px;
}

.product-overview {
  max-width: 992px;
  margin-inline: auto;
}

.product-overview img {
  max-width: 480px;
  object-fit: contain;
  aspect-ratio: 1/1;
  background: #e5e5e5;
}